/* -------------------------------------------------------
                     Global 
-------------------------------------------------------- */
@import url(main.css);
body {
  font-family: 'Poppins', sans-serif;
  color: #343434;
  font-weight: 400; }

.section-padding {
  padding: 100px 0; }

.section-head {
  margin-bottom: 80px;
  text-align: center; }
  .section-head h3 {
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4; }
    .section-head h3:after {
      content: '';
      width: 100%;
      height: 30px;
      background-image: url(../images/dots.webp);
      background-repeat: repeat;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: -1; }

.bg-gray {
  background: #f7f7f7; }

h1, h2, h3, h4, h5, h6, .logo {
  font-family: 'Montserrat', sans-serif; }

p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182; }

.cd-headline {
  font-size: 3rem;
  line-height: 1.2; }

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300; } }
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem; } }
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0; }

.cd-words-wrapper b.is-visible {
  position: relative; }

.no-js .cd-words-wrapper b {
  opacity: 0; }

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1; }

/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0; }

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top; }

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9; }

.cd-headline.clip b {
  opacity: 0; }

.cd-headline b.is-visible {
  opacity: 1; }

.buton {
  padding: 10px 30px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  font-size: 13px;
  transition: all .5s; }
  .buton:hover {
    background: #1c1c1c;
    color: #eee; }

.buton-bg {
  background: #1c1c1c;
  color: #eee; }
  .buton-bg:hover {
    background: transparent !important;
    color: #343434 !important; }

/* -------------------------------------------------------
                     Navbar 
-------------------------------------------------------- */
.navbar-default {
  padding: 20px 0 30px;
  background: none;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }
  .navbar-default .navbar-nav > li > a {
    margin: 0 !important;
    color: #fff !important;
    padding: 0 !important;
    position: relative;
    overflow: hidden; }
    .navbar-default .navbar-nav > li > a:after {
      content: '';
      width: 0;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .5s; }
  .navbar-default .navbar-nav > li {
    font-size: 14px;
    margin: 25px 20px 0;
    padding: 5 10px;
    background: none;
    cursor: pointer;
    position: relative; }
    .navbar-default .navbar-nav > li .active {
      background: none; }
      .navbar-default .navbar-nav > li .active:after {
        width: 100%; }

.nav-scroll {
  background: #fff;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
  min-height: 60px;
  line-height: 60px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s; }
  .nav-scroll .logo {
    padding-top: 2px;
    color: #1c1c1c; }
    .nav-scroll .logo:hover, .nav-scroll .logo:focus {
      color: #1c1c1c; }
  .nav-scroll .navbar-nav > li > a {
    color: #111 !important; }
    .nav-scroll .navbar-nav > li > a:after {
      background: #222; }

.logo {
  float: left;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff; }
  .logo:hover, .logo:focus {
    color: #fff; }

/* -------------------------------------------------------
                     Header 
-------------------------------------------------------- */
.header {
  height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .header:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .65;
    z-index: 2; }
  .header .v-middle {
    z-index: 11; }
  .header .caption {
    text-align: center;
    color: #fff;
    margin-top: 50px; }
    .header .caption h5 {
      font-size: 50px;
      font-weight: 800;
      margin-bottom: 10px; }
    .header .caption h1 {
      font-weight: 200; }
      .header .caption h1 b {
        font-weight: 400; }
    .header .caption .social-icon {
      margin-top: 30px; }
      .header .caption .social-icon span {
        font-size: 14px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.3); }
  .header .white-svg {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 22; }
    .header .white-svg svg {
      fill: #fff;
      width: 101%; }

#particles-js {
  z-index: 9;
  position: relative; }

/* -------------------------------------------------------
                     Contact 
-------------------------------------------------------- */
.contact .info .item {
  margin-bottom: 30px; }
  .contact .info .item:hover .icon {
    background: #1c1c1c;
    color: #eee; }
  .contact .info .item .icon {
    font-size: 25px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all .5s; }
  .contact .info .item h6 {
    font-weight: 700;
    margin-bottom: 10px; }
.contact .form input[type='text'],
.contact .form input[type='email'],
.contact .form textarea {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background: #f4f4f4; }
.contact .form textarea {
  height: 160px;
  max-height: 160px;
  max-width: 100%; }
.contact .form .buton {
  padding: 10px 40px; }

/* -------------------------------------------------------
                     Footer 
-------------------------------------------------------- */
footer {
  background: #1c1c1c;
  padding: 30px; }
  footer p {
    font-size: 13px;
    word-spacing: 2px; }

/* -------------------------------------------------------
                    Responsive
-------------------------------------------------------- */
@media screen and (max-width: 767px) {
  .navbar-default .logo {
    margin-left: 20px; }
  .navbar-default .navbar-toggle {
    background: none !important;
    margin-top: 15px !important;
    border: none !important; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background: transparent !important; }
    .navbar-default .navbar-toggle .icon-bar {
      background: #fff; }
  .navbar-default .navbar-nav > li {
    line-height: 0; }
  .navbar-default .navbar-nav > li > a {
    padding-bottom: 0 !important;
    color: #111 !important;
    display: inline-block; }
  .navbar-default .navbar-collapse {
    text-align: center;
    border: none;
    border-top: 1px solid rgba(12, 12, 12, 0.04);
    background: #fff;
    margin-top: 5px;
    padding-bottom: 15px; }

  .nav-scroll .navbar-toggle .icon-bar {
    background: #111; }

  .portfolio .items {
    width: 100%; } }
@media screen and (max-width: 991px) {
  .navbar-default .navbar-nav > li {
    margin: 25px 15px 0;
    font-size: 13px; }

  .hero .hero-img {
    margin-bottom: 80px !important; } }
/* -------------------------------------------------------
                    End
-------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
